PORT=5000
VNPT_API_URL=https://api-smartreader.vnptai.vn/api/v1/ocr

# Lấy các mã token này từ trang chủ VNPT SmartReader hoặc từ ban tổ chức HackAIthon
VNPT_ACCESS_TOKEN=your_access_token_here
VNPT_TOKEN_ID=your_token_id_here
VNPT_TOKEN_KEY=your_token_key_here
