PORT=5000
VNPT_API_URL=https://api-smartreader.vnptai.vn/api/v1/ocr

# Lấy các mã token này từ trang chủ VNPT SmartReader hoặc từ ban tổ chức HackAIthon
VNPT_ACCESS_TOKEN=your_token_here
VNPT_TOKEN_ID=your_id_here
VNPT_TOKEN_KEY=your_key_here

# VNPT Smartbot (Chatbot) Configurations
VNPT_BOT_API_URL=https://endpoint-vnpt-cap-cho-ban
VNPT_BOT_ID=your_bot_id
VNPT_INTEGRATION_ID=your_integration_id
